* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar..media query 1250 */
li, a, button {
    font-weight:500;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0850f8;
}

.sign-in-button {
    background-color: white;
    padding: 7px 20px;
    color: #0850f8;
    border-color: #0850f8;
    border-radius: 10px;
    font-weight: 600;
}

.sign-up-button-1 {
    background-color: #0850f8;
    padding: 7px 20px;
    color: white;
    border-color: #0850f8;
    border-radius: 10px;
    font-weight: 600;
}

/* "Focus on Your Business" Header */
.focus-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 80px;
    /* width: 100%; */
}

.focus div {
    display: flex;
    width: 750px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.focus h1{
    font-size: 70px;
    font-weight: 400;
    padding-top: 50px;
}

.focus h2{
    font-size: 38px;
    font-weight: 400;
}

.focus h3{
    color: rgb(180, 180, 180);
    font-size: 22px;
}

.focus h3:link{
    color: rgb(180, 180, 180);
}

.focus-buttons{
    margin-top: 30px;
}

.sign-up-button-2 {
    background-color: #0850f8;
    padding: 24px 20px;
    color: white;
    border-color: #0850f8;
    border-radius: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.chat-with-us-button {
    background-color: white;
    padding: 22px 30px;
    color: #0850f8;
    border-color: #0850f8;
    border-radius: 15px;
    font-weight: 600;
}

.banner {
    display: flex;
    align-items: center;
}

.dot {
    height: 12px;
    width: 9px;
    background-color: #0850f8;
    border-radius: 50%;
}

.header-side {
    display: flex;
    width: 800px;
    justify-content: flex-end;
    /* padding-left: 100%; */
}

hr{
    display: flex;
    justify-content: center;
    height: 1px;
    width: 80vh;
    color: black;
}

footer{
    background-color: #0850f8;

}

footer h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
    padding-top: 40px;
}

footer h4{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: white;
    margin-top: 15px;
}

.footer-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.get-started-button {
    background-color: #7fd126;
    padding: 10px 50px;
    color: white;
    border-color: #7fd126;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 50px;
}

.chat-with-us-button-2 {
    background-color: white;
    padding: 9px 20px;
    color: #0850f8;
    border-color: #0850f8;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 50px;
}

.banner-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.dot-2 {
    height: 9px;
    width: 7px;
    background-color: white;
    border-radius: 50%;
}
body{
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    margin-right: 180px;
    margin-left: 180px;
}



.blue-background{
    float: right;
    border-radius: 0px 15px 15px 0px;
    background-color: #0850F8;
    border-left: 1px solid darkgray;
    color: white;
    width: 517px;
    height: 380px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 50px;
}

.collect-info-text-title{
    text-align: left;
}

.collect-info-text-sub{
    text-align: left;
}

.white-background{
    float: left;
    border-radius: 15px 0px 0px 15px;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    color: white;
    width: 450px;
    height: 400px;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20.21px;
}

.get-paid-title{
    text-align: center;
}

.get-paid-sub{
    text-align: left;
}