body{
    font-family: sans-serif;
    text-align: center;
}

.doubletap{
    margin-top: 5%;
    font-size: 225%;
}

.summary-main{
    font-size: 125%;
}

.explore{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.explore a,h3{
    text-decoration: none;
    font-weight: 100;
    color: black;
}

.button-container{
    height: 170px;
    width: 170px;
    margin: 30px;
    border: 1px solid #707070;
    border-radius: 15px;
}

.button-container img{
    margin-top: 20%;
    filter: brightness(0%)
}

.badman{
    margin-top: 23%;
}

.button-container:hover{
    background-color: #0850F8;
    color: white;
}

.button-container h3{
    
}

.learn-landing{
    display: flex;
    justify-content: center;
    border: 1px solid #707070;
    border-radius: 15px;
    height: 700px;
    width: 78%;
    margin-left: 11%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.learn-child{
    border-right: 1px solid #707070;
}

.lc1{
    padding:1%;
    padding-top: 15%;
}

.lc2{
    border-right:none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0850F8;
    color: white;
    text-align: left;
    padding: 30px;
    padding-top: 7%;
    padding-left: 4%;
}

.learn-summary{
    font-size: 130%;
    padding: 30px 150px 30px 0px;
}

.points{
    font-weight: thin;
    font-size: 15px;
    padding-bottom: 10px;
}

.lc2 input{
    background-color: #0850F8;
    border: 3px solid white;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    height: 50px;
    width: 35%;
    margin-top: 30px;
}

.lc2 input:hover{
    font-weight: bold;
    border: 4px solid white;
}

.solution_options{
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
    margin-top: 5%;
}

.solution{
    font-weight: bold;
    width: 350px;
    margin-left: 20%;
    margin-bottom: 20%;
}

.solution img{    
    padding: 15%;
    margin-top: 15%;
}

.new-img{
    margin-top: 25%;
}

.img-back{
    background-color: #E5EFFF;
    border-radius: 50%;
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #707070;
    z-index: -1;
}

.solution input{
    border: 3px solid #707070;
    background-color: white;
    width: 60%;
    height: 50px;
    border-radius: 7px;
    font-size: 100%;
    font-weight: bold;
}

.solution input:hover{
    background-color: #E5EFFF;
    color: #0850F8;
    border-color: #0850F8;
}

/* Ulises Stuff */
/* Nav */
li, a, button {
    font-weight:500;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0850f8;
}

.sign-in-button {
    background-color: white;
    padding: 7px 20px;
    color: #0850f8;
    border-color: #0850f8;
    border-radius: 10px;
    font-weight: 600;
}

.sign-up-button-1 {
    background-color: #0850f8;
    padding: 7px 20px;
    color: white;
    border-color: #0850f8;
    border-radius: 10px;
    font-weight: 600;
}

/* "Focus on Your Business" Header */
.focus-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 80px;
    text-align: left;
}

.focus div {
    display: flex;
    width: 750px;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10px; */
}

.focus h1{
    font-size: 70px;
    font-weight: 400;
    padding-top: 10px;
}

.focus h2{
    font-size: 38px;
    font-weight: 400;
}

.focus h3{
    color: rgb(180, 180, 180);
    font-size: 22px;
}

.focus h3:link{
    color: rgb(180, 180, 180);
}

.focus-buttons{
    margin-top: 30px;
}

.sign-up-button-2 {
    background-color: #0850f8;
    padding: 24px 20px;
    color: white;
    border-color: #0850f8;
    border-radius: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.chat-with-us-button {
    background-color: white;
    padding: 22px 30px;
    color: #0850f8;
    border-color: #0850f8;
    border-radius: 15px;
    font-weight: 600;
}

.banner {
    display: flex;
    align-items: center;
}

.dot {
    height: 12px;
    width: 9px;
    background-color: #0850f8;
    border-radius: 50%;
}

.header-side {
    display: flex;
    width: 800px;
    justify-content: flex-end;
    /* padding-left: 100%; */
}

hr{
    display: flex;
    justify-content: center;
    height: 1px;
    width: 80vh;
    color: black;
}

/* Footer */

footer{
    background-color: #0850f8;

}

footer h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
    padding-top: 40px;
}

footer h4{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: white;
    margin-top: 15px;
}

.footer-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.get-started-button {
    background-color: #7fd126;
    padding: 10px 50px;
    color: white;
    border-color: #7fd126;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 50px;
}

.chat-with-us-button-2 {
    background-color: white;
    padding: 9px 20px;
    color: #0850f8;
    border-color: #0850f8;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 50px;
}

.banner-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.dot-2 {
    height: 9px;
    width: 7px;
    background-color: white;
    border-radius: 50%;
}